{% extends 'base.html' %}

{% block title %}Lista de Juegos{% endblock %}

{% block content %}
<h2>Lista de Juegos</h2>
<table class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th>Género</th>
            <th>Lanzamiento</th>
            <th>Developer</th>
            <th>Publisher</th>
            <th>Puntaje Metacritic</th>
            <th>Puntaje Promedio</th>
            <th>Tu Puntaje</th>
        </tr>
    </thead>
    <tbody>
        {% for juego in juegos %}
        <tr>
            <td>{{ juego.titulo }}</td>
            <td>{{ juego.genero }}</td>
            <td>{{ juego.lanzamiento }}</td>
            <td>{{ juego.developer.nombre }}</td>
            <td>{{ juego.publisher.nombre }}</td>
            <td>{{ juego.puntaje_metacritic }}</td>
            <td>{{ juego.promedio_usuarios|default:"No hay puntuaciones" }}</td>
            <td>
                {% if juego.user_score %}
                    <form method="POST" action="{% url 'rank_juego' juego.id %}">
                        {% csrf_token %}
                        <input type="number" name="puntuacion" value="{{ juego.user_score }}" min="1" max="100">
                        <button type="submit" class="btn btn-warning btn-sm">Actualizar</button>
                    </form>
                {% else %}
                    <form method="POST" action="{% url 'rank_juego' juego.id %}">
                        {% csrf_token %}
                        <input type="number" name="puntuacion" min="1" max="100" required>
                        <button type="submit" class="btn btn-success btn-sm">Enviar</button>
                    </form>
                {% endif %}
            </td>
            {% if user.is_staff %}
            <td>
                <a href="{% url 'juego_edit' juego.pk %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'juego_delete' juego.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
