{% extends 'base.html' %}

{% block title %}Lista de Publishers{% endblock %}

{% block content %}
<h2>Lista de Publishers</h2>
{% if user.is_staff %}
    <a href="{% url 'publisher_add' %}" class="btn btn-success">Agregar Publisher</a>
{% endif %}
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>País</th>
            <th>Puntaje Promedio</th>
            <th>Tu Puntaje</th>
            {% if user.is_staff %}
                <th>Acciones</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for publisher in publishers %}
        <tr>
            <td>{{ publisher.nombre }}</td>
            <td>{{ publisher.pais }}</td>
            <td>{{ publisher.promedio_usuarios|default:"No hay puntuaciones" }}</td>
            <td>
                {% if publisher.user_score %}
                    <form method="POST" action="{% url 'rank_publisher' publisher.pk %}">
                        {% csrf_token %}
                        <input type="number" name="puntuacion" value="{{ publisher.user_score }}" min="1" max="100">
                        <button type="submit" class="btn btn-warning btn-sm">Actualizar</button>
                    </form>
                {% else %}
                    <form method="POST" action="{% url 'rank_publisher' publisher.pk %}">
                        {% csrf_token %}
                        <input type="number" name="puntuacion" min="1" max="100" required>
                        <button type="submit" class="btn btn-success btn-sm">Enviar</button>
                    </form>
                {% endif %}
            </td>
            {% if user.is_staff %}
            <td>
                <a href="{% url 'publisher_edit' publisher.pk %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'publisher_delete' publisher.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
