{% extends 'base.html' %}

{% block title %}Lista de Publishers{% endblock %}

{% block content %}
<h2>Lista de Publishers</h2>
{% if user.is_staff %}
    <a href="{% url 'publisher_add' %}" class="btn btn-success">Agregar Publisher</a>
{% endif %}
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>País</th>
            {% if user.is_staff %}
                <th>Acciones</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for publisher in publishers %}
        <tr>
            <td>{{ publisher.nombre }}</td>
            <td>{{ publisher.pais }}</td>
            {% if user.is_staff %}
            <td>
                <a href="{% url 'publisher_edit' publisher.pk %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'publisher_delete' publisher.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
